doctype html
html
    head
        != partial("_partials/head")

    body

        != partial("_partials/header")

        main
            != yield

        if (current.source !== "docs")
            footer
                != partial("_partials/footer")