.container
	h2 Changelog

	p Sliceform Studio is still undergoing active development (albeit at a slow rate, since I have a full-time job now). Below is a list of the changes and improvements Sliceform Studio have gotten since its initial release.

	p If you want to receive these updates regularly (every couple months), subscribe to the newsletter at the bottom of the page. And of course, if you would like to report bugs or request new features, create a github issue or email me directly!

	.changelog
		include:md ../CHANGELOG.md