.container
	div
		img.displayed(src="/images/gallery/planetarium.JPG", height=600)
	div(style="width: 50%; margin: 30px auto;")
		p My name is Yongquan Lu ("YQ" to most people) and I am a paper artist currently studying mathematics and computer science at MIT. Wallpaper is a system I built with my advisor #[a(href="http://erikdemaine.org/") Erik Demaine] at #[a(href="http://csail.mit.edu/") CSAIL] to simplify the process of creating and designing sliceform paper artwork.
		p Sliceform paper artwork is an artform where long strips of paper are cut, folded, and slotted together to form geometric configurations. To the best of my knowledge, the techniques I am exploring were first developed by artists such as #[a(href="https://www.youtube.com/watch?v=2TNUxWVgZTs") Chris Palmer and Jeff Rutzky], and have since been popularized by others such as #[a(href="https://www.flickr.com/photos/melisande-origami/sets/72157613125224450/") Christiane Bettens].
		p A description of Wallpaper's design principles is available in the #[a(href="http://archive.bridgesmathart.org/2015/bridges2015-367.html") 2015 Bridges Proceedings].
		p You can also find my work on #[a(href="https://www.flickr.com/photos/limitedcake/") Flickr]. For inquiries, please contact yqlu (at) (this domain).