.container
	.alert.alert-info(role='alert')
		| Wallpaper works best on Google Chrome; some unexpected behavior might arise on other browsers. If you are using Wallpaper on Google Chrome and have discovered a bug, please let me (YQ Lu) know at yqlu (at) (this domain).
	p Jump to the relevant section:
	.row
		.col-sm-offset-3.col-sm-6
			ul.list-group
				li.list-group-item
					a(href='#selecting-polygons') Selecting polygons
				li.list-group-item
					a(href='#populating-canvas') Populating the canvas
				li.list-group-item
					a(href='#building-configs') Building configurations
				li.list-group-item
					a(href='#editing-patterns') Editing patterns
				li.list-group-item
					a(href='#editing-the-palette') Editing the palette
				li.list-group-item
					a(href='#generating-strips') Generating strips
	h2
		a(name='selecting-polygons')
		| Selecting polygons
	.row
		.col-sm-5
			p Step 1. Use the dropdown menu to pick a pre-defined custom set of polygons.
		.col-sm-7
			img(src='images/documentation/step1.gif')
	hr
	.row
		.col-sm-12
			p
				| Step 2. (Advanced) If the desired polygons are not available in the presets, use the custom option to determine your own.
			img(src='images/documentation/step2.gif')
	hr
	h2
		a(name='populating-canvas')
		| Populating the canvas
	.row
		.col-sm-5
			p Step 3. Drag shapes out from the palette to the canvas.
		.col-sm-7
			img(src='images/documentation/step3.gif')
	hr
	.row
		.col-sm-5
			p Step 4. Drag vertices to rotate a shape.
		.col-sm-7
			img(src='images/documentation/step4.gif')
	hr
	.row
		.col-sm-5
			p Step 5. Drag and scroll on the canvas to pan and zoom.
		.col-sm-7
			img(src='images/documentation/step5.gif')
	hr
	h2
		a(name='building-configs')
		| Building configurations
	.row
		.col-sm-5
			p Step 6. Drag edges onto each other to snap them together.
		.col-sm-7
			img(src='images/documentation/step6.gif')
	hr
	.row
		.col-sm-5
			p Step 7. Alternatively, click on two edges in a row to snap shapes together.
		.col-sm-7
			img(src='images/documentation/step7.gif')
	hr
	.row
		.col-sm-5
			p Step 8. Click on joined edges to separate shapes.
		.col-sm-7
			img(src='images/documentation/step8.gif')
	hr
	.row
		.col-sm-5
			p Step 9. Select a shape  / cluster of shapes and click “Delete” to delete it.
		.col-sm-7
			img(src='images/documentation/step9.gif')
	hr
	.row
		.col-sm-5
			p Step 10. Select a shape / cluster of shapes and click “Copy” to copy it.
		.col-sm-7
			img(src='images/documentation/step10.gif')
	hr
	.row
		.col-sm-5
			p Step 11. Click “Clear All” to delete all shapes in the canvas.
		.col-sm-7
			img(src='images/documentation/step11.gif')
	hr
	h2
		a(name='editing-patterns')
		| Editing patterns
	.row
		.col-sm-12
			p Step 12. Click on a shape in the palette to reveal the pattern editor.
			img(src='images/documentation/step12.gif')
	hr
	.row
		.col-sm-12
			p Step 13. Select a pattern template from the editor.
			img(src='images/documentation/step13.gif')
	hr
	.row
		.col-sm-12
			p Step 14. Play with the sliders to alter a pattern’s parameters.
			img(src='images/documentation/step14.gif')
	hr
	.row
		.col-sm-5
			p
				| Step 15. Shapes with inferred patterns are shaded yellow; click “Infer” to trigger dynamic deduction of the pattern from the shape’s surroundings.
		.col-sm-7
			img(src='images/documentation/step15.gif')
	hr
	.row
		.col-sm-12
			p Step 16. Custom patterns have lots of parameters to play with!
			img(src='images/documentation/step16.gif')
	hr
	h2
		a(name='editing-palettes')
		| Editing the palette
	.row
		.col-sm-5
			p
				| Step 17. Copy shapes in the palette so different patterns can be inscribed in them.
		.col-sm-7
			img(src='images/documentation/step17.gif')
	hr
	h2
		a(name='generating-strips')
		| Generating strips
	.row
		.col-sm-5
			p Step 18. Click “Strip View” to convert the tile-based configurations to strips.
		.col-sm-7
			img(src='images/documentation/step18.gif')
	hr
	.row
		.col-sm-5
			p Step 19. Hover over and click on strips to assign them colors.
		.col-sm-7
			img(src='images/documentation/step19.gif')
	hr
	.row
		.col-sm-12
			p
				| Step 20. Specify specific configurations of the generated SVGs in “Advanced Options".
			img(src='images/documentation/step20.gif')
	hr
	.row
		.col-sm-5
			p
				| Step 21. Click on “Generate SVG” to produce the corresponding SVG for all the strips in that color.
		.col-sm-7
			img(src='images/documentation/step21.gif')
	hr
