script(src='#{baseUrl}/js/script.js')
// Navigation
nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
        i.fa.fa-bars
      a.navbar-brand
        span.light Sliceform Studio
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      ul.nav.navbar-nav
        each term, i in public._data.contents
          li
            a.nav(href="#{term.url}")(class= (i === 0) ? "active" : "")= term.label
// Intro Header
header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          h1.brand-heading Sliceform Studio
          p.intro-text.heavy
            | Design and create your own paper strip sliceforms.
section.content-section.text-center
  .row
    .col-lg-6.col-lg-offset-3
      h2 Paper Strip Sliceforms:
      p.heavy
          | An art form where long strips of paper are cut, folded, and slotted together to create shapes inspired by Islamic geometry
.bg__1
section.container.side-graphic.tiles.content-section.text-center
  .row
    .col-lg-7.col-lg-offset-5.translucent
      h2 Define the underlying geometry.
      p
        | Select your set of tiles from over fifteen presets, or specify your own custom tiles. Use a drag-and-drop interface to snap tiles together to create a tiling.
section.container.side-graphic.patterns.content-section.text-center
  .row
    .col-lg-7.translucent
      h2 Inscribe patterns within each tile.
      p
        | Easily generate Islamic motifs like stars and rosettes, or infer a tile's pattern from surrounding constraints. Customize your own patterns by dragging pattern handles around.
section.container.side-graphic.strip.content-section.text-center
  .row
    .col-lg-7.col-lg-offset-5.translucent
      h2 Trace out strips and assign colors.
      p
        | Sliceform Studio automatically traces patterns through tiles to create intricately interlocking strips. Assign colors to each strip to create your own design.
section.container.side-graphic.strips.content-section.text-center
  .row
    .col-lg-7.translucent
      h2 Assemble paper strips... or not.
      p
        | Download the corresponding SVG files and cut them out to get paper strips ready for assembly. Or just use Sliceform Studio as a tool to generate and export digital designs. It's up to you!
section#try.text-center
  .try-section
    .container
      .col-lg-8.col-lg-offset-2
        h2 Try it out.
        h4 Sliceform Studio is open source and available free of charge.
        .row
          .col-lg-6(style="text-align:center;")
            a.btn.impact.btn-default.btn-lg(href='app.html') Jump right in
          .col-lg-6(style="text-align:center;")
            a.btn.impact.btn-default.btn-lg(href='tutorial.html') Try the tutorial
// Contact Section
section#contact.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h2 About
      p
      :markdown
        Sliceform Studio was built by Yongquan ‘YQ’ Lu at [MIT CSAIL](https://www.csail.mit.edu/) under the guidance of [Erik Demaine](http://erikdemaine.org/). The theory behind the application is discussed in [the 2015 Bridges Proceedings](http://archive.bridgesmathart.org/2015/bridges2015-367.html) and [the Journal of Symmetry](http://erikdemaine.org/papers/Sliceform_Symmetry/).

        These sliceform techniques were first developed by artists such as [Chris Palmer and Jeff Rutzky](https://www.youtube.com/watch?v=2TNUxWVgZTs), and have since been popularized by others such as [Christiane Bettens](https://www.flickr.com/photos/melisande-origami/sets/72157613125224450). The concept of the pattern editor is heavily influenced by [Craig Kaplan](http://www.cgl.uwaterloo.ca/~csk/)'s work on [Taprats](http://www.cgl.uwaterloo.ca/~csk/washington/taprats).
