script(src='#{baseUrl}/js/script.js')
// Navigation
nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
      i.fa.fa-bars
    a.navbar-brand(href="/")
      span.light Sliceform Studio
  // Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-right.navbar-main-collapse
    ul.nav.navbar-nav
      each term, i in public._data.contents
        li
          a.nav(href="#{term.url}")(class= (i === 0) ? "active" : "")= term.label
// Intro Header
header.intro
  .intro-body
    .container.noselect
      h1.brand-heading Sliceform Studio
      p.intro-text.heavy
        | Design and create your own paper strip sliceforms.
      a.intro-cta.impact.btn.btn-default.btn-lg(href="/app.html")
        | Get started
section.content-section.text-center
  .container
    .row
      .col-sm-6.col-md-3
        img(src="/images/index/step1.png", style="height: 200px; width: 200px;")
        h4.valign Pick a base tiling
        p Select your set of tiles from over fifteen presets.
      .col-sm-6.col-md-3
        img(src="/images/index/step2.png", style="height: 200px; width: 200px;")
        h4.valign Inscribe patterns
        p Generate common motifs for each tile, or design your own.
      .col-sm-6.col-md-3
        img(src="/images/index/step3.png", style="height: 200px; width: 200px;")
        h4.valign Trace and color strips
        p Automatically convert your tiles to a set of strips and add some color.
      .col-sm-6.col-md-3
        img(src="/images/index/step4.png", style="height: 200px; width: 200px;")
        h4.valign Export your design
        p Save your creation as an image. Generate strip templates for easy paper assembly.
.bg__1
section#contact.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h2 About
      p
      :markdown
        Sliceform Studio was built and is maintained by Yongquan ‘YQ’ Lu at [MIT CSAIL](https://www.csail.mit.edu/) under the guidance of [Erik Demaine](http://erikdemaine.org/). The theory behind the application is discussed in [the 2015 Bridges Proceedings](http://archive.bridgesmathart.org/2015/bridges2015-367.html) and [the Journal of Symmetry](http://erikdemaine.org/papers/Sliceform_Symmetry/).

        These sliceform techniques were first developed by artists such as [Chris Palmer and Jeff Rutzky](https://www.youtube.com/watch?v=2TNUxWVgZTs), and have since been popularized by others such as [Christiane Bettens](https://www.flickr.com/photos/melisande-origami/sets/72157613125224450). The concept of the pattern editor is heavily influenced by [Craig Kaplan](http://www.cgl.uwaterloo.ca/~csk/)'s work on [Taprats](http://www.cgl.uwaterloo.ca/~csk/washington/taprats).
section#try.text-center
  .try-section
    .container
      .col-lg-8.col-lg-offset-2
        h2 Try it out.
        h4 Sliceform Studio is open source and available free of charge.
        a.btn.impact.btn-default.btn-lg(href='app.html') Get started
script(type='text/javascript').
  (function($) {
    $(function() {
      $('ul.nav.navbar-nav > li').each(function(){
        wid = $(this).width();
        $(this).css('width', wid + 'px');
      });
    });
  })(jQuery);