.container
	h2 In this tutorial, you will walk through the basic workflow of creating your own design in Sliceform Studio.
	.row.step
		.col-sm-5
			h4 Step 1: Starting options

			p The various options in the starting modal allows you to play with many different tile configuration. For now, pick the fourth option, "Octagons and squares".
		.col-sm-7
			img(src='images/tutorial/step1.jpg')
	hr
	.row.step
		.col-sm-5
			h4 Step 2: Populating the canvas

			p The blue panel on the right is called the "palette"; the larger white area is called the "canvas". Drag a square and an octagon out from the palette onto the canvas.
		.col-sm-7
			img(data-gifffer='images/tutorial/step2.gif')
	hr
	.row.step
		.col-sm-5
			h4 Step 3: Joining tiles

			p To join two tiles together, drag an edge from one tile over another. The edges should glow blue when you drag, and then turn green when they snap together.

			p You can break edges apart again by clicking on them.
		.col-sm-7
			img(data-gifffer='images/tutorial/step3.gif')
	hr
	.row.step
		.col-sm-5
			h4 Step 4: Canvas control

			p Drag the tiles to move them around the canvas; drag vertices to rotate them around.

			p Pan and zoom by dragging and scrolling on the canvas respectively. You can also reset the zoom level via the #[i.fa.fa-fw.fa-arrows-alt] and 1:1 buttons on the bottom left corner of the canvas.
		.col-sm-7
			img(data-gifffer='images/tutorial/step4.gif')
	hr
	.row.step
		.col-sm-5
			h4 Step 5: Editing patterns

			p Every tile already has a pattern inscribed in it. Click the #[i.fa.fa-edit.fa-border] button beside each tile in the palette to launch the pattern editor.

			p In the pattern editor, you can select different motifs and drag sliders to change the parameters of each motif.
		.col-sm-7
			img(style="width: 100%", src='images/tutorial/step5.jpg')
	hr
	.row.step
		.col-sm-5
			h4 Step 6: Tracing strips

			p Click on "Trace and export strips" on the top of the page. Note that Sliceform Studio magically traces the patterns through the tiles to create interlaced strips.
		.col-sm-7
			img(src='images/tutorial/step6.jpg')
	hr
	.row.step
		.col-sm-5
			h4 Step 7: Assigning colors

			p Use the color picker to pick out colors. "Paint" strips with the selected color by clicking on them.
		.col-sm-7
			img(src='images/tutorial/step7.jpg')
	hr
	.row.step
		.col-sm-5
			h4 Step 8: Export image

			p You can export your digital design as a PNG or SVG image at the top right corner.

			p If you are not interested in paper assembly, you can stop here!
		.col-sm-7
			img(src='images/tutorial/step8.jpg')
	hr
	.row.step
		.col-sm-5
			h4 Step 9: Exporting strip templates

			p The strips you have painted show up in the "Export Strips" side panel on the left. Click on the #[i.fa.fa-download.fa-border] button to download templates of all the strips assigned that color.

			p You can also drag them from a color category to another to reassign colors, or click on the #[i.fa.fa-times] icons to unassign colors.
		.col-sm-7
			img(src='images/tutorial/step9.jpg')
	hr
	.row.step
		.col-sm-5
			h4 Step 10: Physical assembly

			p These templates are optimized to be used for laser cutting or die cutting paper. The black lines are slits where two intersecting strips can be slotted together, while the red lines represent creases where the strip should be folded.
		.col-sm-7
			img(style="width:100%", src='images/tutorial/step10.jpg')
	hr
	.alert.alert-success.step #[h3.inline Congrats!] You have successfully completed the Sliceform Studio tutorial and know how to use the most essential features. Now go and play more with #[a(href="app.html") the app], read #[a(href="/docs.html") the docs] for a more in-depth discussion of the various features, or visit #[a(href="/gallery") the gallery] for ideas! Have fun!