.container
	.alert.alert-info(role='alert')
		| #[h6.inline Note:] Sliceform Studio works best on Google Chrome; some unexpected behavior might arise on other browsers. If you are using Sliceform Studio on Google Chrome and have discovered a bug, please report it at bugs@(this-domain).
	h4 In this tutorial, you will learn how to use the basic features of Sliceform Studio to create your own artwork.
	.row
		.col-sm-5
			p #[h6.inline Step 1.] The 'tiles' dropdown menu offers various pre-defined sets of polygons. Pick "Squares and octagons".
		.col-sm-7
			img(src='images/tutorial/step1.jpg')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 2.] The orange panel is called the "palette"; the larger white area is called the "canvas". Drag a square and an octagon out from the palette onto the canvas.
		.col-sm-7
			img(data-gifffer='images/tutorial/step2.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 3.] Drag the tiles to move them around the canvas. Drag vertices to rotate tiles on the canvas.
		.col-sm-7
			img(data-gifffer='images/tutorial/step3.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 4.] Drag and scroll on the canvas to pan and zoom.
		.col-sm-7
			img(data-gifffer='images/tutorial/step4.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 5.] Drag edges onto each other to snap them together.
		.col-sm-7
			img(data-gifffer='images/tutorial/step5.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 6.] Click on a joined edge to snap the edges apart again.
		.col-sm-7
			img(data-gifffer='images/tutorial/step6.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 7.] Another way to snap shapes together is to click on two edges successively.
		.col-sm-7
			img(data-gifffer='images/tutorial/step7.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 8.] Drag out a second octagon from the palette by its edge, and join it to the existing group in one step. Note that Sliceform Studio automatically deduces that a third pair of edges should be joined together.
		.col-sm-7
			img(data-gifffer='images/tutorial/step8.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 9.] Select the group of tiles and click on #[i.fa.fa-files-o.fa-border] to duplicate them three times.
		.col-sm-7
			img(data-gifffer='images/tutorial/step9.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 10.] That was one too many times! Select one of the copies and click on #[i.fa.fa-trash.fa-border] to delete it.
		.col-sm-7
			img(data-gifffer='images/tutorial/step10.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 11.] Snap the copies together to create a repeating tessellation.
		.col-sm-7
			img(src='images/tutorial/step11.jpg')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 12.] Add two more octagons onto the end to round off the design.
		.col-sm-7
			img(src='images/tutorial/step12.jpg')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 13.] Now it's time to inscribe patterns into these tiles. Click on the octagon in the palette to select it and then the "Edit Pattern" button in the toolbar.
		.col-sm-7
			img(style="width: 100%", src='images/tutorial/step13.jpg')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 14.] The default pattern is a star with initial angle 78.8° and a depth of 2. That's fine; click confirm. All the octagons have been inscribed with this pattern.
		.col-sm-7
			img(src='images/tutorial/step14.jpg')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 15.] Do the same for the square, but adjust the slider from the default of 67.5° to 78.8° so that the two patterns will line up along the joined edges.
		.col-sm-7
			img(src='images/tutorial/step15.jpg')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 16.] Click on "Strip view" on the top of the page. Note that Sliceform Studio magically traces the patterns through the tiles to create corresponding interlaced strips.
		.col-sm-7
			img(src='images/tutorial/step16.jpg')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 17.] Adjust the "Strip width" slider below the canvas to 5px so that the strips are drawn slightly thicker.
		.col-sm-7
			img(src='images/tutorial/step17.jpg')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 18.] The color picker defaults to red. Hover over and click on the vertical and horizontal running strips to "paint" them red.
		.col-sm-7
			img(data-gifffer='images/tutorial/step18.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 19.] Pick light blue in the color picker and paint the remaining strips.
		.col-sm-7
			img(data-gifffer='images/tutorial/step19.gif')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 20.] Export your design as a PNG using the #[i.fa.fa-download] PNG button in the top right corner.
		.col-sm-7
			img(src='images/tutorial/step20.jpg')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 21.] Scroll down to the "Color-coded SVG Files" panel below. Click "Generate SVG" to download a rendering of the strips assigned that color.
		.col-sm-7
			img(src='images/tutorial/step21.jpg')
	hr
	.row
		.col-sm-5
			p #[h6.inline Step 22.] These strips are optimized to be used for laser cutting or die cutting paper. The black lines are slits where two intersecting strips can be slotted together, while the red lines represent creases where the strip should be folded.
		.col-sm-7
			img(style="width:100%", src='images/tutorial/step22.jpg')
	hr
	.alert.alert-success #[h3.inline Congrats!] You have successfully completed the Sliceform Studio tutorial and know how to use the most essential features. Now go and play more with #[a(href="app.html") the app], read #[a(href="/docs.html") the docs] for a more in-depth discussion of Sliceform Studio's features, or visit #[a(href="/gallery") the gallery] for ideas! Have fun!
	script(type='text/javascript').
		$(document).ready(function() {
			Gifffer();
		});