.padded
	.row
		.mailchimp.col-sm-4
			#mc_embed_signup(style="padding-left: 30px")
				form#mc-embedded-subscribe-form.validate(action='//sliceformstudio.us12.list-manage.com/subscribe/post?u=f8bb95640de1a1574e2dfb079&id=0c1e80d3f6', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
					#mc_embed_signup_scroll
						span(for='mce-EMAIL', style="text-align: left; display: block; padding-bottom: 5px;") Subscribe to the mailing list:&nbsp;
						div(style='position: absolute; left: -5000px;', aria-hidden='true')
							input(type='text', name='b_f8bb95640de1a1574e2dfb079_0c1e80d3f6', tabindex='-1', value='', style="width: 100%")
						.input-group
							input.form-control#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
							span.input-group-btn
								input.btn.btn-secondary#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
		.contact.col-sm-4
				.contact-header Get In Touch
				div
						a(href="mailto: info@sliceformstudio.com") info -at- sliceformstudio -dot- com
		.social.col-sm-4
				span.social-header Follow
				ul.list-inline.banner-social-buttons
						span
								a(href='https://github.com/yqlu/sliceformstudio')
										i.fa.fa-lg.fa-github.fa-fw
						span
								a(href='https://www.facebook.com/sliceformstudio')
										i.fa.fa-lg.fa-facebook.fa-fw
	.footer-copyright
		| ©2015 Sliceform Studio.
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js', charset='utf-8')
| <!-- build:js /js/#{current.source}.js-->
script(src='js/global.js', charset='utf-8')
if (current.source === "docs" || current.source === "tutorial")
	script(src='/bower/gifffer/build/gifffer.min.js', charset='utf-8')
if (current.source === "index")
	script(src='/js/index.js', charset='utf-8')
if (current.source === "docs")
	script(src='/js/docs.js', charset='utf-8')
if (current.source === "tutorial")
	script(src='/js/tutorial.js', charset='utf-8')
if (current.source === "gallery")
	script(src='bower/lightbox2/dist/js/lightbox.js')
if (current.source === "app")
	script(src='bower/d3/d3.min.js', charset='utf-8')
	script(src='bower/numeric/src/numeric.js', charset='utf-8')
	script(src='bower//bfgs-numericjs/bfgs.js', charset='utf-8')
	script(src='bower/convexhull-js/convexhull.js')
	script(src='bower/js-lru/lru.js', charset='utf-8')
	script(src='bower/optimization-js/js/optimization.js', charset='utf-8')
	script(src='bower/jquery-simplecolorpicker/jquery.simplecolorpicker.js', charset='utf-8')
	script(src='bower/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js', charset='utf-8')
	script(src='bower/bootstrap-switch/dist/js/bootstrap-switch.js', charset='utf-8')
	script(src='bower/bootbox.js/bootbox.js', charset='utf-8')
	script(src='bower/selectize/dist/js/standalone/selectize.js')
	script(src='bower/keyboardjs/dist/keyboard.min.js')
	script(src='bower/html.sortable/dist/html.sortable.min.js', charset='utf-8')
	script(src='bower/saveSvgAsPng/saveSvgAsPng.js', charset='utf-8')
	script(src='js/2D.js', charset='utf-8')
	script(src='js/util.js', charset='utf-8')
	script(src='js/geom.js', charset='utf-8')
	script(src='js/nlp.js', charset='utf-8')
	script(src='js/shapeModel.js', charset='utf-8')
	script(src='js/patternModel.js', charset='utf-8')
	script(src='js/assembleModel.js', charset='utf-8')
	script(src='js/cropModel.js', charset='utf-8')
	script(src='js/traceModel.js', charset='utf-8')
	script(src='js/serializeModel.js', charset='utf-8')
	script(src='js/optimizeModel.js', charset='utf-8')
	script(src='js/model.js', charset='utf-8')
	script(src='js/controller.js', charset='utf-8')
	script(src='js/svg.js', charset='utf-8')
	script(src='js/draw.js', charset='utf-8')
	script(src='js/render.js', charset='utf-8')
	script(src='js/init.js', charset='utf-8')
// endbuild