meta(charset='utf8')
title= name

link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Quicksand|Open+Sans:300', type='text/css')
link(rel='stylesheet', href='bower/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='css/global.css')
if (current.source === "app")
	link(rel='stylesheet', href='bower/select2/dist/css/select2.min.css')
	link(rel='stylesheet', href='bower/jquery-simplecolorpicker/jquery.simplecolorpicker.css')
	link(rel='stylesheet', href='bower/jquery-simplecolorpicker/jquery.simplecolorpicker-regularfont.css')
	link(rel='stylesheet', href='bower/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css')
	link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
	link(rel='stylesheet', href='bower/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
	link(rel='stylesheet', href='css/styles.css')
script(src='bower/jquery/dist/jquery.min.js')
script(src='bower/lodash/lodash.js')
script(src='bower/bootstrap/dist/js/bootstrap.min.js', charset='utf-8')
if (current.source === "index")
	script(src='bower/imagesloaded/imagesloaded.pkgd.min.js')
	script(src='bower/masonry/dist/masonry.pkgd.min.js')
if (current.source === "app")
	script(src='bower/d3/d3.min.js', charset='utf-8')
	script(src='bower/numeric/src/numeric.js', charset='utf-8')
	script(src='bower/2d/2D.js', charset='utf-8')
	script(src='bower/jquery-simplecolorpicker/jquery.simplecolorpicker.js', charset='utf-8')
	script(src='bower/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js', charset='utf-8')
	script(src='bower/bootstrap-switch/dist/js/bootstrap-switch.min.js', charset='utf-8')
	script(src='bower/bootbox.js/bootbox.js', charset='utf-8')
	script(src='bower/select2/dist/js/select2.min.js')
	script(src='js/util.js', charset='utf-8')
	script(src='js/geom.js', charset='utf-8')
	script(src='js/shapeModel.js', charset='utf-8')
	script(src='js/patternModel.js', charset='utf-8')
	script(src='js/assembleModel.js', charset='utf-8')
	script(src='js/traceModel.js', charset='utf-8')
	script(src='js/model.js', charset='utf-8')
	script(src='js/controller.js', charset='utf-8')
	script(src='js/svg.js', charset='utf-8')
	script(src='js/draw.js', charset='utf-8')
	script(src='js/render.js', charset='utf-8')