meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(charset='utf8')
if (current.source !== "app")
	meta(name="viewport", content="width=device-width, initial-scale=1")
meta(property="og:image", content="http://www.sliceformstudio.com/images/gallery/royalty.jpg")
meta(property="og:title", content="Sliceform Studio")
meta(property="og:description", content="Design and create your own paper sliceforms.")
title= name
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700', type='text/css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800', type='text/css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
| <!-- build:css /css/#{current.source}.css-->
link(rel='stylesheet', href='css/global.css')
if (current.source === "index")
	link(rel='stylesheet', href='css/index.css')
	link(rel='stylesheet', href='css/index-steps-sprite.css')
if (current.source === "docs")
	link(rel='stylesheet', href='css/docs.css')
	link(rel='stylesheet', href='css/docs-sprite.css')
if (current.source === "gallery")
	link(rel='stylesheet', href='bower/lightbox2/dist/css/lightbox.css')
	link(rel='stylesheet', href='css/gallery.css')
	link(rel='stylesheet', href='css/gallery-thumbs-sprite.css')
if (current.source === "app")
	link(rel='stylesheet', href='bower/selectize/dist/css/selectize.css')
	link(rel='stylesheet', href='bower/selectize/dist/css/selectize.bootstrap3.css')
	link(rel='stylesheet', href='bower/spectrum/spectrum.css')
	link(rel='stylesheet', href='bower/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css')
	link(rel='stylesheet', href='bower/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
	link(rel='stylesheet', href='css/app.css')
	link(rel='stylesheet', href='css/starter-sprite.css')
if (current.source === "tutorial")
	link(rel='stylesheet', href='css/tutorial.css')
//endbuild